@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    --clr-action: #EF8F65;
    --clr-display: #F1E8B8;
    --clr-buttons: #607B7D;
    --clr-calc-bg: #03254E;
    --clr-button-border: #AFCBFF ;
}

body {
    width: 100%;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 10px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: var(--clr-calc-bg);
}

.calc-button-container {
    display: flex;
    gap: 15px;
}

.calc-digits {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 160px;
    padding: 10px;
}

.calc-digit, .calc-operator, .calc-operator-special {
    font-weight: 400;

    width: 40px;
    height: 40px;

    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 9px;

    background-color: var(--clr-buttons);
    color: white;
}

.calc-operator-special {
    flex-grow: 2;
}

.calc-operations, .calc-special-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.calc-actions {
    display: flex;
    gap: 10px;
    padding: 10px;
    width: 40px;
}

.calc-digit:hover, .calc-operator:hover, .calc-operator-special:hover {
    background-color: black;
    color: white;
}

.calc-input {
    padding: 10px;
}

.calc-operator-special {
    background-color: var(--clr-action);
}

.calc-input > input[type=text] {
    font-family: inherit;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    width: 100%;
    background-color: var(--clr-display);
}